#body{    
background-image: url("background.jpg") ;
background-size: cover;
position: relative;
}

.login{
padding: 3% 3% 3% 3%;
margin: 0% 35% 10% 35%;
position: fixed;
}

#input{
width: 190%;
height: 50px;
border: solid 1px;
border-radius: 30px 30px;
margin-bottom: 10px;
}


input[type=text],input[type=password],input[type=email] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}


button{
width: 190%;
height: 50px;
border: solid 1px;
border-radius: 30px 30px;
margin-bottom: 10px;
background-color: #66ccff;
color: white;
font-size: 25px;
font-family: inherit; 
}


button:hover{
    opacity: 0.8;
}


#logo{
border-radius: 100%;
text-align: center;
border: solid 5px;
margin: 10% 65% 10% 65%;
padding: 30px ;
height: 50px;
width: 50px;
font-size: 50px;
color: white;
position: static;
}

#input:hover{    
width: 190%;
height: 50px;
border: solid 1px;
border-radius: 30px 30px;
margin-bottom: 10px;
}
